DEBUG=False

SECRET_KEY=CHANGE_ME_SECRET_KEY_LONG_RANDOM

ALLOWED_HOSTS=rap.adserv.fr,147.93.126.119
CSRF_TRUSTED_ORIGINS=https://rap.adserv.fr
CORS_ALLOWED_ORIGINS=https://rap.adserv.fr
CORS_ALLOW_CREDENTIALS=True

DB_NAME=rap_app_backend
DB_USER=abd
DB_PASSWORD=CHANGE_ME_DB_PASSWORD
DB_HOST=127.0.0.1
DB_PORT=5432

STATIC_ROOT=/srv/apps/rap_app/app/staticfiles
MEDIA_ROOT=/srv/apps/rap_app/shared/media

SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SESSION_COOKIE_SAMESITE=Lax
CSRF_COOKIE_SAMESITE=Lax
SECURE_CONTENT_TYPE_NOSNIFF=True
SECURE_REFERRER_POLICY=same-origin
SECURE_CROSS_ORIGIN_OPENER_POLICY=same-origin
X_FRAME_OPTIONS=DENY
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=adserv.fr@gmail.com
EMAIL_HOST_PASSWORD=CHANGE_ME_GOOGLE_APP_PASSWORD
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=adserv.fr@gmail.com
SERVER_EMAIL=adserv.fr@gmail.com

JWT_ACCESS_TOKEN_LIFETIME_MINUTES=30
JWT_REFRESH_TOKEN_LIFETIME_DAYS=1

RAP_IMPORT_PERSIST_JOBS=true
RAP_IMPORT_MAX_PARSE_SECONDS=120
RAP_IMPORT_LOG_MAX_BYTES=5242880
RAP_IMPORT_LOG_BACKUP_COUNT=5
